:root {
    --background-color: #f3f3f3;
    --text-color: #000;
    --keyword-color: #4285F4;
    --property-color: #34A853;
    --type-color: #EA4334;
    --generic-color: #9d3af6;
    --value-color: #515248;
    --comment-color: #888888;
}

.hl-keyword {
    color: var(--keyword-color);
}

.hl-property {
    color: var(--property-color);
}

.hl-attribute {
    font-family: "Radon", serif;
}

.hl-type {
    color: var(--type-color);
}

.hl-generic {
    color: var(--generic-color);
}

.hl-value {
    color: var(--value-color);
}

.hl-comment {
    color: var(--comment-color);
}

.hl-blur {
    filter: blur(2px);
}