pre, code {
    color: #fafafa;
    background-color: #0c0c0c;
}

.hl-keyword {
    color: #bd7a0b;
}

.hl-property {
    color: #cb57ac;
}

.hl-attribute {
    font-family: "Radon", inherit, monospace;
}

.hl-type {
    color: #15bccb;
}

.hl-generic {
    color: #62c509;
}

.hl-value {
    color: #fafafa;
}

.hl-variable {
    color: #fafafa;
}

.hl-comment span,
.hl-comment {
    color: #888;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0033;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000022;
}