:root {
    --background-color: #f3f3f3;
    --text-color: #000;
    --keyword-color: #4285F4;
    --property-color: #34A853;
    --type-color: #EA4334;
    --generic-color: #9d3af6;
    --value-color: #000;
    --variable-color: #000;
    --comment-color: #888888;
}

.hl-keyword {
    color: var(--keyword-color);
}

.hl-property {
    color: var(--property-color);
}

.hl-attribute {
    font-family: "Radon", inherit, monospace;
}

.hl-type {
    color: var(--type-color);
}

.hl-generic {
    color: var(--generic-color);
}

.hl-value {
    color: var(--value-color);
}

.hl-variable {
    color: var(--variable-color);
}

.hl-comment span,
.hl-comment {
    color: var(--comment-color);
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0033;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000022;
}

.hl-hidden {
    display: none;
}