pre, code {
    color: #f6f6f4;
    background-color: #282A36;
}

.hl-keyword {
    color: #f286c4;
}

.hl-property {
    color: #62e884;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #97e1f1;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #e7ee98;
}

.hl-literal {
    color: #e7ee98;
}

.hl-number {
    color: #e7ee98;
}

.hl-variable {
    color: #f6f6f4;
}

.hl-comment {
    color: #7b7f8b;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
