pre, code {
    color: #e6edf3;
    background-color: #0d1117;
}

.hl-keyword {
    color: #ff7b72;
}

.hl-property {
    color: #d2a8ff;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #a5d6ff;
}

.hl-literal {
    color: #a5d6ff;
}

.hl-number {
    color: #a5d6ff;
}

.hl-variable {
    color: #ffa657;
}

.hl-comment {
    color: #8b949e;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
