pre, code {
    color: #1f2328;
    background-color: #ffffff;
}

.hl-keyword {
    color: #cf222e;
}

.hl-property {
    color: #8250df;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #0a3069;
}

.hl-literal {
    color: #0a3069;
}

.hl-number {
    color: #0a3069;
}

.hl-variable {
    color: #953800;
}

.hl-comment {
    color: #6e7781;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
