pre, code {
    color: #fafafa;
    background-color: #0c0c0c;
}

.hl-keyword {
    color: #bd7a0b;
}

.hl-property {
    color: #cb57ac;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #15bccb;
}

.hl-generic {
    color: #62c509;
}

.hl-value {
    color: #fafafa;
}

.hl-variable {
    color: #fafafa;
}

.hl-comment span,
.hl-comment {
    color: #888;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    min-width: 100%;
    background-color: #00FF0033;
}

.hl-deletion {
    min-width: 100%;
    background-color: #FF000022;
}

.hl-gutter {
    display: inline-block;
    margin-right: 1ch;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}