pre, code {
    color: #000000;
    background-color: #FFFFFF;
}

.hl-keyword {
    color: #0000ff;
}

.hl-property {
    color: #795E26;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #267f99;
}

.hl-generic {
    color: #0000ff;
}

.hl-value {
    color: #a31515;
}

.hl-literal {
    color: #a31515;
}

.hl-number {
    color: #098658;
}

.hl-variable {
    color: #001080;
}

.hl-comment {
    color: #008000;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
