pre, code {
    color: #EEFFFF;
    background-color: #212121;
}

.hl-keyword {
    color: #4285F4;
}

.hl-property {
    color: #82AAFF;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #C3E88D;
}

.hl-literal {
    color: #ff9cac;
}

.hl-number {
    color: #F78C6C;
}

.hl-variable {
    color: #000;
}

.hl-comment {
    color: #545454;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
