pre, code {
    color: #212121;
    background-color: #ffffff;
}

.hl-keyword {
    color: #D32F2F;
}

.hl-property {
    color: #6f42c1;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #1976D2;
}

.hl-value {
    color: #2b5581;
}

.hl-literal {
    color: #2b5581;
}

.hl-number {
    color: #1976D2;
}

.hl-variable {
    color: #000;
}

.hl-comment {
    color: #c2c3c5;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
