pre, code {
    color: #d8dee9;
    background-color: #2e3440;
}

.hl-keyword {
    color: #81A1C1;
}

.hl-property {
    color: #88C0D0;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #8FBCBB;
}

.hl-generic {
    color: #81A1C1;
}

.hl-value {
    color: #A3BE8C;
}

.hl-literal {
    color: #A3BE8C;
}

.hl-number {
    color: #B48EAD;
}

.hl-variable {
    color: #000;
}

.hl-comment {
    color: #616E88;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
