pre, code {
    color: #abb2bf;
    background-color: #282c34;
}

.hl-keyword {
    color: #c678dd;
}

.hl-property {
    color: #61afef;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #e5c07b;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #98c379;
}

.hl-literal {
    color: #98c379;
}

.hl-number {
    color: #98c379;
}

.hl-variable {
    color: #e06c75;
}

.hl-comment {
    color: #888888;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
