pre, code {
    color: #F8F8F8;
    background-color: #390000;
}

.hl-keyword {
    color: #f12727ff;
}

.hl-property {
    color: #34A853;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #cd8d8dff;
}

.hl-literal {
    color: #cd8d8dff;
}

.hl-number {
    color: #cd8d8dff;
}

.hl-variable {
    color: #fb9a4bff;
}

.hl-comment {
    color: #e7c0c0ff;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
