pre, code {
    color: #E6E6E6;
    background-color: #222222;
}

.hl-keyword {
    color: #569cd6;
}

.hl-property {
    color: #DCDCAA;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #4EC9B0;
}

.hl-generic {
    color: #569cd6;
}

.hl-value {
    color: #ce9178;
}

.hl-literal {
    color: #ce9178;
}

.hl-number {
    color: #b5cea8;
}

.hl-variable {
    color: #9CDCFE;
}

.hl-comment {
    color: #6A9955;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
