pre, code {
    color: #839496;
    background-color: #002B36;
}

.hl-keyword {
    color: #859900;
}

.hl-property {
    color: #268BD2;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #CB4B16;
}

.hl-generic {
    color: #B58900;
}

.hl-value {
    color: #2AA198;
}

.hl-literal {
    color: #2AA198;
}

.hl-number {
    color: #D33682;
}

.hl-variable {
    color: #839496;
}

.hl-comment {
    color: #586E75;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
