pre, code {
    color: #000;
    background-color: #262335;
}

.hl-keyword {
    color: #fede5d;
}

.hl-property {
    color: #36f9f6;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #f97e72;
}

.hl-value {
    color: #000;
}

.hl-literal {
    color: #000;
}

.hl-number {
    color: #f97e72;
}

.hl-variable {
    color: #ff7edb;
}

.hl-comment {
    color: #848bbd;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
