pre, code {
    color: #dbd7cacc;
    background-color: #000;
}

.hl-keyword {
    color: #4d9375;
}

.hl-property {
    color: #80a665;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #4d9375;
}

.hl-value {
    color: #c98a7d;
}

.hl-literal {
    color: #c98a7d;
}

.hl-number {
    color: #4C9A91;
}

.hl-variable {
    color: #bd976a;
}

.hl-comment {
    color: #758575dd;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
