pre, code {
    color: #393a34;
    background-color: #ffffff;
}

.hl-keyword {
    color: #1e754f;
}

.hl-property {
    color: #59873a;
}

.hl-attribute {
    font-style: italic;
}

.hl-type {
    color: #EA4334;
}

.hl-generic {
    color: #1e754f;
}

.hl-value {
    color: #b56959;
}

.hl-literal {
    color: #b56959;
}

.hl-number {
    color: #2f798a;
}

.hl-variable {
    color: #b07d48;
}

.hl-comment {
    color: #a0ada0;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    display: inline-block;
    min-width: 100%;
    background-color: #00FF0022;
}

.hl-deletion {
    display: inline-block;
    min-width: 100%;
    background-color: #FF000011;
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    margin-right: 1ch;
    user-select: none;
}

.hl-gutter-addition {
    background-color: #34A853;
    color: #fff;
}

.hl-gutter-deletion {
    background-color: #EA4334;
    color: #fff;
}
